## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butaritari,KI,7/22/2021 23:30,3.0707,172.7902,83.62,75,48,16.04,light rain
1,1,Jamestown,US,7/22/2021 23:33,42.0970,-79.2353,72.72,46,1,6.91,clear sky
2,2,Codrington,AU,7/22/2021 23:34,-38.2667,141.9667,43.05,93,100,9.51,overcast clouds
3,3,Rikitea,PF,7/22/2021 23:34,-23.1203,-134.9692,73.27,73,10,18.45,light rain
4,4,Wukari,NG,7/22/2021 23:34,7.8500,9.7833,72.46,88,100,6.24,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butaritari,KI,7/22/2021 23:30,3.0707,172.7902,83.62,75,48,16.04,light rain
1,1,Jamestown,US,7/22/2021 23:33,42.0970,-79.2353,72.72,46,1,6.91,clear sky
3,3,Rikitea,PF,7/22/2021 23:34,-23.1203,-134.9692,73.27,73,10,18.45,light rain
4,4,Wukari,NG,7/22/2021 23:34,7.8500,9.7833,72.46,88,100,6.24,overcast clouds
5,5,Albany,US,7/22/2021 23:31,42.6001,-73.9662,73.63,59,99,1.01,overcast clouds
6,6,Katol,IN,7/22/2021 23:34,21.2667,78.5833,72.16,92,100,8.03,heavy intensity rain
9,9,Avarua,CK,7/22/2021 23:34,-21.2078,-159.7750,78.85,83,75,13.80,broken clouds
10,10,Puerto Ayora,EC,7/22/2021 23:34,-0.7393,-90.3518,72.55,88,96,8.01,overcast clouds
18,18,Katobu,ID,7/22/2021 23:34,-4.9408,122.5276,76.21,88,88,3.33,overcast clouds
20,20,Gayeri,BF,7/22/2021 23:34,12.6497,0.4931,82.20,59,91,13.31,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                327
City                   327
Country                327
Date                   327
Lat                    327
Lng                    327
Max Temp               327
Humidity               327
Cloudiness             327
Wind Speed             327
Current Description    327
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butaritari,KI,7/22/2021 23:30,3.0707,172.7902,83.62,75,48,16.04,light rain
1,1,Jamestown,US,7/22/2021 23:33,42.0970,-79.2353,72.72,46,1,6.91,clear sky
3,3,Rikitea,PF,7/22/2021 23:34,-23.1203,-134.9692,73.27,73,10,18.45,light rain
4,4,Wukari,NG,7/22/2021 23:34,7.8500,9.7833,72.46,88,100,6.24,overcast clouds
5,5,Albany,US,7/22/2021 23:31,42.6001,-73.9662,73.63,59,99,1.01,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
658,658,Sibolga,ID,7/22/2021 23:37,1.7427,98.7792,76.87,81,100,2.66,moderate rain
663,663,Kawalu,ID,7/22/2021 23:37,-7.3817,108.2082,73.24,91,73,0.27,broken clouds
664,664,Umm Kaddadah,SD,7/22/2021 23:37,13.6017,26.6876,83.34,53,54,10.83,broken clouds
667,667,Smithfield,US,7/22/2021 23:37,41.9220,-71.5495,74.25,79,20,0.00,few clouds
669,669,Awbari,LY,7/22/2021 23:37,26.5921,12.7805,83.17,25,0,13.42,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Butaritari,KI,83.62,light rain,3.0707,172.7902,
1,Jamestown,US,72.72,clear sky,42.0970,-79.2353,
3,Rikitea,PF,73.27,light rain,-23.1203,-134.9692,
4,Wukari,NG,72.46,overcast clouds,7.8500,9.7833,
5,Albany,US,73.63,overcast clouds,42.6001,-73.9662,
6,Katol,IN,72.16,heavy intensity rain,21.2667,78.5833,
9,Avarua,CK,78.85,broken clouds,-21.2078,-159.7750,
10,Puerto Ayora,EC,72.55,overcast clouds,-0.7393,-90.3518,
18,Katobu,ID,76.21,overcast clouds,-4.9408,122.5276,
20,Gayeri,BF,82.20,overcast clouds,12.6497,0.4931,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [9]:
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
   
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
filter = hotel_df["Hotel Name"] != ""
hotel_df = hotel_df[filter]

hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Butaritari,KI,83.62,light rain,3.0707,172.7902,Isles Sunset Lodge
1,Jamestown,US,72.72,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
3,Rikitea,PF,73.27,light rain,-23.1203,-134.9692,People ThankYou
4,Wukari,NG,72.46,overcast clouds,7.8500,9.7833,Elimtop
6,Katol,IN,72.16,heavy intensity rain,21.2667,78.5833,Rocks Celibration lawn
9,Avarua,CK,78.85,broken clouds,-21.2078,-159.7750,Paradise Inn
10,Puerto Ayora,EC,72.55,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
18,Katobu,ID,76.21,overcast clouds,-4.9408,122.5276,La Ode Husein
23,Norman Wells,CA,78.84,scattered clouds,65.2820,-126.8329,Heritage Hotel
30,Poum,NC,71.53,clear sky,-20.2333,164.0167,Gîte kajeon

In [11]:
#8a. Create the output file (CSV).
output_data_file = "vacation_search/WeatherPy_Vacation.csv"
# Export the City_Data into a CSV.
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
current_weather= hotel_df ["Current Description"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))